prophet==1.1.5
xgboost==2.1.1
scikit-learn==1.5.2
pandas==2.2.2
numpy==1.26.4
fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.2
joblib==1.4.2
matplotlib==3.9.2
seaborn==0.13.2
python-multipart==0.0.9
